@import './variables.scss';
@import './mixins.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/scss/bootstrap.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $base-font;
    color: $base-color;
    background-color: $bg-color;
}

ul {
    list-style: none;
    padding: unset;
    margin: unset;
}

a {
    text-decoration: none;
    color: unset;

    &:hover {
        color: unset;
    }
}

::-webkit-scrollbar {
    width: 18px;
}
::-webkit-scrollbar-track {
    background: lighten($bg-color, 25%);
    box-shadow: inset 0 0 5px 3px $shadow-color;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: $logo-color;
    box-shadow: inset 0 0 5px 3px $shadow-color;
}
::-webkit-scrollbar-thumb:hover {
    background: $base-color; 
    box-shadow: inset 0 0 5px 3px $shadow-color;
}