// Font Family
@import '~@fontsource/roboto/index.css';
@import '~@fontsource/roboto/700.css';
$base-font: 'Roboto';

// Text Colors
$bg-color: #000000;
$base-color: #FFFFFF;
$logo-color: #DC1A28;
$star-color: #FFBD00;
$nav-link: darken($base-color, 50%);
$movie-info: #000000c2;